.animated-image {
    position: relative;
    right: -100px;
    margin-top: 10rem;
    transform: translateY(-50%);
    animation: slide-in-image 2s ease-in-out forwards;
}
@keyframes slide-in-image {
    0% {
        right: -100px;
    }
    100% {
        right: 0;
    }
}
.image-style {
    width: 50%;
    border-radius: 0%;
    height: auto;
    margin-left: 200px;
    margin-right: auto;
}
@media (max-width: 762px) {
    .col-md-6{
        margin-right: 8rem;
        margin-left: -1rem;
    }
    .col-md-4 {
        margin-top: 1rem;
        margin-left: -2.4rem;
    }

    
}